html {
  background-color: #efefef;
}

.text-center a {
  text-decoration: none;
}

.card-header {
  color: #fff;
  text-align: center;
  background: linear-gradient(#0d6efd 0%, #3bc5e7 100%);
}

.card-header img {
  border-radius: 100%;
  width: 20rem;
  height: 18rem;
}

.card {
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}

.navbar {
  text-decoration: none;
  list-style: none;
  background: linear-gradient(#0d6efd 0%, #3bc5e7 100%);
  padding: 10px;
  cursor: pointer;
  border-radius: 2rem;
  font-size: 1.5rem;

}

.navbar a {
  font-weight: bolder;
  color: #fff;
  text-decoration: none;
  transition: 0.2s linear;
}

.navbar a:hover {
  text-shadow: 8px 8px 5px #12704b;
  font-size: 2.5rem;
}

.nav-link {
  text-decoration: none;
  float: left;
  padding: 5px 9px;
}

.nav-link:hover {
  text-decoration: none;
}

.movie_head {
  background: linear-gradient(#0d6efd 0%, #3bc5e7 100%);
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1.2rem;
  font-size: 1.5rem;
  color: #fff;
}

#Kung-fu img {
  width: 35rem;
  height: 37rem;
}